
.pic {
        margin-bottom: -4px;
        margin-right: 2px;
    }
    .search .rich-menu-item-hover{
        background-color: transparent;
        border-color: transparent;
    }

.menu-dropdown span.icon {
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	float: left;
}

.menu-dropdown .level1 .level1 span.icon {
	width: 30px;
	height: 30px;
	margin-left: -5px;
}
.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon + span + span { margin-left: 25px; }

.menu-dropdown li.level2 .level2 span.icon {
	width: 35px;
	height: 35px;
	margin-top: -7px;
	margin-bottom: -7px;
}
.menu-dropdown li.level2.hassubtitle .level2 span.icon { margin-top: -4px; }

.menu-dropdown li.level2 .level2 span.icon { margin-right: 5px; }
.menu-dropdown li.level2 .level2 span.icon + span,
.menu-dropdown li.level2 .level2 span.icon + span + span { margin-left: 40px; }

/* Subtitles */
.menu-dropdown span.title { line-height: 18px; }

.menu-dropdown span.subtitle {
	margin-top: -1px;
	font-size: 9px;
	line-height: 10px;
	text-indent: 1px;
}

.menu-dropdown li.level2 .level2 span.title { line-height: 15px; }
.menu-dropdown li.level2 .level2 span.subtitle { line-height: 14px; }


/* Sidebar/Accordion Menu
----------------------------------------------------------------------------------------------------*/

/* Accordion */
.menu-sidebar li.parent span.level1 > span { cursor: pointer; }

/* Level 1 */
.menu-sidebar a.level1 > span,
.menu-sidebar span.level1 > span {
	padding: 5px 0;
	line-height: 20px;
}

/* Remove Subtitles */
.menu-sidebar span.title { display: inline; }
.menu-sidebar span.subtitle { display: none; }

/* Level 2-4 */
.menu-sidebar ul.level2 { padding-bottom: 10px; }
.menu-sidebar li.level1:last-child ul.level2 { padding-bottom: 0; }

.menu-sidebar .level2 a > span {
	font-size: 11px;
	line-height: 17px;
}

/* Icons */
.menu-sidebar span.icon {
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: -5px 5px -5px 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: middle;
}


/* Line Menu
----------------------------------------------------------------------------------------------------*/

/* Level 1 */
.menu-line,
.menu-line li,
.menu-line li a { display: inline-block; }
